# ======================
# IGNORE FILES & FOLDERS
# ======================

# Videos
*.mp4
*.avi
*.mov
*.mkv
.venv
# Images (raw dataset)
*.jpg
*.jpeg
*.png

# Model weights
*.pt
*.pth
*.pth.tar*
*.onnx
*.weights
*.ckpt
*.safetensors
*.bin
*.pkl
*.npz
*.npy
*.h5
*.pb
# Serialized datasets
*.lmdb

# Dataset & model folders
/input_videos/
/output_videos/
/dataset/
/datasets/
/models/
/checkpoints/
/data/*
/runs/
*/runs/
checkpoints/
*/checkpoints/
outputs/
*/outputs/
wandb/
lightning_logs/
logs/
tensorboard/
experiments/

# Archives
*.zip
*.tar
*.gz
*.7z

# Python cache & temp
__pycache__/
*.log
*.tmp
.DS_Store
